@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  background: #000000;
}

nav {
  position:fixed;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  background: #000000;
  padding: 0 20px;
}

.nav-content {
  display: flex;
  height: 80px; /* Adjusted height */
  align-items: center;
  list-style: none;
  position: relative;
}

.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px; /* Adjusted height */
  width: 95px;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active {
  transform: translateY(-10px);
}

.link-icon {
  color: #999;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active .link-icon {
  color: rgb(255, 255, 255);
}

.link-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: -10px;
}

.link-item.active .link-text {
  opacity: 1;

}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 24;
}

@media screen and (max-width: 425px) {
  .nav-toggle {
      display: block;
      align-items: end baseline;

  }
  body {
      /* height: 100vh; */
      position:sticky;
      display: flex;
      justify-content: center;
      background: #000000;
  }
  nav{
    align-items: end baseline;
  }
}

/* @media screen and (max-width: 425px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
  }

  nav {
    transform: scale(0.8);
    transform-origin: center; 
    transition: transform 0.5s ease; 
  }
} */

